*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #454dde;
    text-align: center;
    align-items: center;
}

.container{
    height: 80vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

.game{
    height: 70vmin;
    width: 70vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;

}

.box{
    height: 20vmin;
    width: 20vmin;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.4);
    font-size: 8vmin;
    color: #b0a9e2;
    background-color: #1a031d;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:black;
    color: white;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:black;
    color: white;
    border-radius: 1rem;
    border: none;
    margin-top: 5rem;
}

#msg{
    color: #ffffc7;
    font-size: 7vmin;
}

.msg-container{
    height: 80vmin;
    padding: 5rem;
}

.hide{
    display: none;
}